# 核心依赖（本地环境版本） - D:\AI\asr_env
modelscope==1.9.5
funasr==1.1.18
datasets==2.13.0
huggingface_hub==0.20.3

# 数值 / 科学计算
numpy==1.26.4
scipy==1.16.3

# Web 服务
flask==3.0.3
werkzeug==3.1.3

# 语音处理
soundfile==0.13.1
librosa==0.11.0
# torchaudio==2.2.2+cu118 -f https://download.pytorch.org/whl/torch_stable.html

# PyTorch（CUDA 11.8）
# torch==2.2.2+cu118 -f https://download.pytorch.org/whl/torch_stable.html

# 工具
tqdm==4.67.1
requests==2.32.5

# 本地环境额外的相关包
audioread==3.1.0
transformers==4.57.1
sentencepiece==0.2.1
tensorboardX==2.6.4
torch-complex==0.4.4
pytorch-wpe==0.0.1
